
#container1
{
background-image:url('cont1.png');
background-size:auto;
background-position:center;
color:#000000;
}

#container4
{
padding:7px 15%;
background-image:url('bench-accounting.jpg');
background-size:auto;
background-position:center;
}

#section2
{
align:center;
padding:7px 15%;
}


.textformat
{
font-size:1.5rem;
padding-right:20px;
padding-left:20px;
}

.box
{
background-image:url('down.jpg');
background-size:cover;
height:500px;
}
.bigbox
{
background-image:url('up.jpg');
background-size:cover;
filter:brightness(80%);
}
img
{
opacity: 0.4;
}

#container2
{
/*background-color:#f6f7d7;*/
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
padding-left:20px;
}

#Academics
{
padding:7px 15%;
}

#car
{
width:6rem;
}

#contact
{

}

img
{
display:inline;
}

.card
{
opacity: 0.8;
border:solid black;
color:#000000;
 font-weight: bold;
} 

i
{
margin-left:20px;
}

img
{
width:200px;
height:200px;

}

div
 {
  animation-direction: alternate;
}

.new
{
background-image:url('kelly.jpg');
background-size:auto;
text-align:center;
padding:4%;
}



@media screen and only(max-width:993px)
{
body
{
background-color:#43ab92;

}

}